html,
body {
    height: auto;
    background-color: #AB3333;
}

.nav-background {
    background-image: url("./Images/reeses_pieces.png");
}

.nav-title {
    margin-left: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.nav-buttons {
    color:black;
    background-color: #BB1D1D;
}

.body-welcome {
    font-size: large;
}

.body-product {
    margin-left: 1400px;
    padding-top: 0px;
    }

.body-news {
margin-left: 1400px;
}